<div class="container">
  <div class="card m-auto border-info" style="width: 30rem;" *ngIf="contact; else contactNotFound">
    <div class="card-body">
      <h5 class="card-title text-center font-weight-bold">{{ (contact | async).username }}</h5>
      <hr>
      <p>Adresse email&nbsp;: {{ (contact | async).email }}</p>
      <p>Agence : {{ (contact | async).agency | agency }}</p>
      <p>Membre depuis le&nbsp;: {{ (contact | async).memberSince }}</p>
    </div>
  </div>
</div>

<ng-template #contactNotFound>
  <div class="card m-auto border-danger" style="width: 30rem;">
    <div class="card-body text-danger">
      <h5 class="card-title text-center">Ce contact n'existe pas.</h5>
    </div>
  </div>
</ng-template>
