
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/list" routerLinkActive="text-primary font-weight-bold" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!--        <a class="nav-link" routerLink="/new" routerLinkActive="text-primary font-weight-bold">Ajouter un contact</a>-->
        <a class="nav-link" routerLink="/admin" routerLinkActive="text-primary font-weight-bold">Admin</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <app-login></app-login>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
